.header{
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    z-index: 0;
    background-position: center;
    text-decoration: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/bgc.jpg);
}
